<!--<detalle-cliente *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"></detalle-cliente>-->

<div class="card border-primary mb-3">
    <div class="card-header">Tareas</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de tareas</h5>
      <div class="my-2 text-left">
        <div class="my-2 text-left">
          <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/tareas/form-tarea']">
              Crear Tarea
          </button>  
        </div>           
      </div>
  <!--   <div *ngIf="ciudadanos?.length == 0" class="alert alert-info">
         No hay registros en la base de datos!
      </div> -->
     
      <table  class="table table-bordered table-striped"   >
        <thead>
          <tr>    
            <th>id</th>
            <th>tarea</th>
            <th>descripción</th>    
            <th>día</th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas">    
            <td>{{tarea.id}}</td><!--  <button type="button" (click)="abrirModal(tarea)"  class="btn btn-success btn-sm">{{ cliente.id }}</button></td>-->
            <td>{{tarea.nombre }}</td>
            <td>{{tarea.descripcion}}</td>
            <td>{{tarea.dia_semana}}</td>
            <td>
              <button type="button" name="editar"  class="btn btn-primary btn-sm">editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)='delete(tarea)' class="btn btn-danger btn-sm">eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
